# Deny direct access to config files
<FilesMatch "\.(php)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Allow only index.php in api/
<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>
